<!--
body{
    width: 100%;
    margin:auto;
    font-family: Arial;
}
.unsel {
    font-style: normal;
    width:13.67%;
    height: 24px;
    display:inline-block;
    background-color: #CCCCCC;
    border-radius: 5px;
    text-align:center;
    position:relative;
    top:7.9%;
    right:1%;
}


.sel {
    background-color: #FFFFFF;
    width:18.5%;
    height: 24px;
    display:inline-block;
    border-radius: 5px;
    text-align:center;
    position:relative;
    top:7.9%;
    right:1%;

}

.divsel {
    visibility: visible;
    position: fixed;
    left: 8.2%; /*distância do conteúdo em relação à esquerda do browser*/
    top: 21%; /*distância do conteúdo em relação ao topo*/
    height: 70.5%;/*altura do conteúdo*/
    width: 83.5%;/*largura do conteúdo*/
    background-color: #FFFFFF;/*cor de fundo do conteúdo*/
    right: 8%;
    border-radius: 20px;
    padding: 20px 10px 10px 10px;
}

.divunsel {
    visibility: hidden;
    position:fixed;
    padding: 20px 0px 10px 0px;
}

#aba{
    position: fixed;
    left: 8%;   
    top: 2%;
    width: 85%; 
    height: 90%; 
    border-radius: 20px;
    border: solid #033076;
    padding: 15px 0px 10px 0px;
    background:#033076;
}

#logo_easymarket{
    position:fixed;
    width:50px;
    height:50px;
    left:45%;
    top:8%;
    color:#FFFFFF;
    font-size:25px;
}

#img_carrinho{
    position:relative;
    width:50px;
    height:50px;
    left:7%;
    top:1%;	
}

#t_usuario{
    position:fixed;
    left:32%;
    top:30%;
    width:45%;
    height: 35%;
    border:0;
    align:center;
    cellspacing:0;
}

#user_enviar{
    position:fixed;
    left:60%;
}

#produto_enviar{
    position:fixed;
    left:70%;
    top:65%;
}

#t_produto{
    position:fixed;
    left:22%;
    top:30%;
    width:60%;
    height: 35%;
    border:0;
    align:center;
    cellspacing:0;
}

-->