#principal{
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
    font-size: 62.5%;
    position: fixed;
    left: 18%;   
    top: 8%;
    width: 62%; 
    height: 62.5%; 
    border-radius: 20px;
    border: solid #191970;
    padding: 80px 0px 10px 0px;
    background:#191970;
    color:white;
}

#titulo{
    left: 30%;   
    top: 13%;
    position: fixed;
    font-size:300%;
}

#usuario{

    left: 65%;   
    top: 10%;
    position: fixed;
    font-size:200%;
}

#carrinho{
    left: 22%;   
    top: 10%;
    position: fixed;

}

.menus{
    height: 83%;
    width: 96%; 
}

#img_carrinho{

    height:65px; 
    width:65px;
}

#esquerdaProdutos{

top:19%;
width: 30%; 
height: 65%; 
left:16%;
right:20%;
position: absolute;
}

#direitaProdutos{
left:60%;
top:19%;
width: 30%; 
height: 40%;  
right:20%;
position: absolute;
 
}

Label{
font-size: 14;
}

enviar{
left:60%;
position:absolute;
top:30%;


}